body{
    font-family: "Roboto", serif;
    margin: 0;
    padding: 0;
    color: #6D1058;
    background-color: #fff;

}

.containerHead{
    padding: 12px 10px;
     background-color:  #AAAACC ;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

h1,h2,h3,p{
    margin: 0;
    padding: 0;
}

.containerSearch{
    display: flex;
    gap: 0;
}

.containerCart{
    display: flex;
    align-items: center;
}

.productImg{
    height: 120px;
}

.leftSection{
    display: flex;
    justify-content: center;
    gap: 20px;

}

.barBtn{
    font-family: "Roboto", serif;
    padding: 7px 5px ;
    color: #fff;
    background-color: #6D1058;
    border: 0;
    border-radius: 8px;
    font-weight: 300;
    transition: .5s;
}

.barBtn:hover{
    background-color: #a86599;
}
.search:hover{
    background-color: #a86599;
}
.userInfo{
    font-size: 1.2rem;
}

#qrImg{
    margin: 20px 0;


    width: 350px;
}

.requestContainer{
    height: 800px;

    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.evidenceContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    

    background-color: #bea1b8;
    border: 0;
    border-radius: 15px;
    padding: 20px 30px;
    gap: 5px;

}

.ConfirmBtn{
    font-family: "Roboto", serif;
    padding: 10px 20px ;
    color: #fff;
    background-color: #6D1058;
    border: 0;
    border-radius: 20px;
    font-weight: 300;
    transition: .5s;
}

.ConfirmBtn:hover{
    background-color: #a86599;
}
