body{
    font-family: "Roboto", serif;
    margin: 0;
    padding: 0;
    color: #6D1058;
    background-color: lightgrey;

}

.containerHead{
    padding: 12px 10px;
     background-color:  #AAAACC ;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

h1,h2,h3,p{
    margin: 0;
    padding: 0;
}

.containerSearch{
    display: flex;
    gap: 0;
}

.search, .searchBox{
    border: 0;
    padding: 10px;
}

.productImg{
    height: 120px;
}

.leftSection{
    display: flex;
    justify-content: center;
    gap: 20px;

}

.barBtn{
    font-family: "Roboto", serif;
    padding: 7px 5px ;
    color: #fff;
    background-color: #6D1058;
    border: 1px solid #AAAACC;
    border-radius: 8px;
    font-weight: 300;
    transition: .5s;
}

.barBtn:hover{
    background-color: #a86599;
}
.search:hover{
    background-color: #a86599;
}
.userInfo{
    font-size: 1.2rem;
}